aiofiles==24.1.0
argcomplete==3.5.3
attrs==24.1.0
autocommand==2.2.2
btrfsutil==6.14
build==1.2.2
CacheControl==0.14.2
cachy==0.3.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
crashtest==0.4.1
cryptography==44.0.2
cssselect==1.2.0
deprecation==2.1.0
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
dulwich==0.22.8
eyed3==0.9.7
fastjsonschema==2.21.1
filelock==3.18.0
filetype==1.2.0
findpython==0.6.3
html5lib==1.1
idna==3.10
iniconfig==2.1.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
lark==1.2.2
lit==18.1.8
lockfile==0.12.2
lxml==5.3.2
Mako==1.3.10.dev0
Markdown==3.7
MarkupSafe==2.1.5
meson==1.7.2
more-itertools==10.6.0
msgpack==1.0.5
mysql-connector-python==9.2.0
mysqlx-connector-python==9.2.0
OpenTimelineIO==0.17.0
packaging==25.0
pbs-installer==2025.3.17
pexpect==4.9.0
pillow==11.2.1
pipx==1.7.1
pkginfo==1.12.0
platformdirs==4.3.6
pluggy==1.5.0
poetry==2.1.2
poetry-core==2.1.2
poetry-plugin-export==1.9.0
ptyprocess==0.7.0
pyaaf2==1.7.1
pycairo==1.28.0
pycparser==2.22
PyGObject==3.52.3
pyprland==2.4.5
pyproject_hooks==1.2.0
PyQt6==6.9.0
PyQt6-WebEngine==6.9.0
PyQt6_sip==13.10.0
pyquery==2.0.1
pytest==8.3.5
PyYAML==6.0.2
qutebrowser==3.5.0
RapidFuzz==3.12.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.22.3
SecretStorage==3.3.3
setuptools==78.1.1
shellingham==1.5.4
six==1.17.0
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.4.11.15
typing_extensions==4.12.2
ueberzug==18.3.1
urllib3==2.4.0
userpath==1.9.2
virtualenv==20.28.0
webencodings==0.5.1
wheel==0.45.1
yt-dlp==2025.3.31
